<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971056464608-hgkeq6tfn5frlv3nlh33vcbscvqgcoff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971056464608-hgkeq6tfn5frlv3nlh33vcbscvqgcoff</string>
	<key>API_KEY</key>
	<string>AIzaSyASLtuMSNIiu6m_wf_sUSnlFkYJEZlAnPo</string>
	<key>GCM_SENDER_ID</key>
	<string>971056464608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codefox.quizzle</string>
	<key>PROJECT_ID</key>
	<string>quizzle-be5a8</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzle-be5a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971056464608:ios:fc9b4f6d2f0a4eef1b0685</string>
</dict>
</plist>